openapi: 3.0.3
info:
  title: validate.al API
  description: >-
    Email validation, security scanning and account management, all at
    https://api.validate.al.
  version: "1.0"
servers:
  - url: https://api.validate.al
security:
  - ApiKeyAuth: []
tags:
  - name: Email validation
  - name: Scanning
  - name: Account
  - name: Health
paths:
  /request-scan:
    post:
      tags: [Scanning]
      summary: Request a new scan
      description: >-
        Queues a scan for the given target. The scanner picks it up within
        seconds and the results are available via GET /scans. Counts against
        the plan's daily scan allowance, then scan credits; see Plans and limits.
      operationId: requestScan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target]
              properties:
                target:
                  type: string
                  description: Hostname or URL to scan.
                  example: example.com
                scan_type:
                  type: string
                  description: Type of scan. Defaults to webapp.
                  enum: [webapp, dns-auth, ip]
                  default: webapp
      responses:
        "200":
          description: Scan queued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id: {type: integer, example: 42}
                  target: {type: string, example: example.com}
                  status: {type: string, example: pending}
                  message: {type: string, example: "Scan queued. Check back for results."}
        "401":
          description: Missing or invalid API key.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "422":
          description: Unknown `scan_type` or missing `target`.
        "429": {$ref: "#/components/responses/LimitReached"}

  /scans:
    get:
      tags: [Scanning]
      summary: List your scans
      description: Returns all scans for the authenticated user, most recent first.
      operationId: listScans
      responses:
        "200":
          description: List of scans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scans:
                    type: array
                    items:
                      $ref: "#/components/schemas/ScanSummary"
        "401":
          description: Missing or invalid API key.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  /scans/{scan_id}/report:
    get:
      tags: [Scanning]
      summary: Get scan report
      description: Returns the full JSON report for a completed scan. Only the scan owner may read it.
      operationId: getScanReport
      parameters:
        - name: scan_id
          in: path
          required: true
          schema: {type: integer}
      responses:
        "200":
          description: Full scan report with raw tool output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id: {type: integer}
                  target: {type: string}
                  report:
                    type: object
                    description: Full report object (scan metadata + raw tool output).
        "404":
          description: Scan not found, not owned by you, or report not available.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  /scans/{scan_id}:
    get:
      tags: [Scanning]
      summary: Get one scan
      description: One of your scans with its status. Another account's scan is not found.
      operationId: getScan
      parameters:
        - name: scan_id
          in: path
          required: true
          schema: {type: integer}
      responses:
        "200":
          description: The scan.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ScanSummary"
                  - type: object
                    properties:
                      updated_at: {type: string, format: date-time, nullable: true}
        "404":
          description: Scan not found or not yours.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
    delete:
      tags: [Scanning]
      summary: Delete a scan
      description: >-
        Deletes one of your finished scans with its report, summary and target.
        It still counts towards the allowance of the day it ran. A scan that
        is pending or in progress can't be deleted.
      operationId: deleteScan
      parameters:
        - name: scan_id
          in: path
          required: true
          schema: {type: integer}
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted: {type: integer, example: 42}
        "404":
          description: Scan not found or not yours.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "409":
          description: The scan is still pending or in progress.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  /me/quota:
    get:
      tags: [Account]
      summary: Plan and what is left today
      description: >-
        Your plan, what is left of today's scan and email check allowances,
        scan credits, welcome checks, and when the allowances reset (00:00 UTC).
      operationId: getQuota
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      responses:
        "200":
          description: Plan and allowances.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Quota"}

  /auth/rotate-api-key:
    post:
      tags: [Account]
      summary: Rotate your API key
      description: >-
        Replaces your API key. The old key stops working at once. Needs a portal
        session (the API key can't rotate itself) and, when two-factor
        authentication is on, a current code.
      operationId: rotateApiKey
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                totp_code: {type: string, description: "Required when two-factor authentication is on."}
      responses:
        "200":
          description: New key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key: {type: string, example: val-0123456789abcdef0123456789abcdef}
        "401":
          description: No portal session.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "403":
          description: Two-factor code missing or wrong.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  /auth/register:
    post:
      tags: [Account]
      summary: Create an account
      description: >-
        Registers a new account with email and password. Returns a JWT and
        API key. Does not verify the email.
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string, format: email, example: user@example.com}
                password: {type: string, minLength: 8, example: "••••••••"}
      responses:
        "200":
          description: Account created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: {type: string, description: JWT Bearer token}
                  api_key: {type: string, description: API key for scanning endpoints}
                  email: {type: string}
        "400":
          description: Missing or invalid fields.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  /auth/login:
    post:
      tags: [Account]
      summary: Sign in
      description: Authenticates with email and password, returns a JWT.
      operationId: signIn
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string, example: user@example.com}
                password: {type: string, example: "••••••••"}
                totp_code: {type: string, description: "Required when two-factor authentication is on."}
      responses:
        "200":
          description: Authenticated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: {type: string}
                  api_key: {type: string}
                  email: {type: string}
        "401":
          description: Invalid email or password.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}

  /auth/me:
    get:
      tags: [Account]
      summary: Current user
      description: Returns the authenticated user's profile.
      operationId: getMe
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: integer}
                  email: {type: string}
                  display_name: {type: string, nullable: true}
                  api_key: {type: string}
                  totp_enabled: {type: boolean}
                  free_scans: {type: integer, description: Scan credits left.}
                  is_admin: {type: boolean}

  /auth/settings:
    put:
      tags: [Account]
      summary: Update profile
      description: Updates display name. Requires JWT session.
      operationId: updateSettings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name: {type: string, maxLength: 100}
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  email: {type: string}
                  display_name: {type: string, nullable: true}

  /health:
    get:
      tags: [Health]
      summary: API health
      description: Answers 200 when the service is up. No authentication required.
      operationId: health
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, example: ok}
                  service: {type: string, example: validate.al portal}

  /validate_email:
    post:
      tags: [Email validation]
      summary: Validate an email address
      description: >-
        Looks up the domain's MX records and asks the highest-priority mail
        server whether it accepts mail for the address. Can take up to about
        10 seconds when the recipient's mail server is slow. Counts against the
        plan's daily email check allowance, then welcome checks; checks that
        fail on our side (502, `fatal_exception`) don't count. The address is
        not stored.
      operationId: validateEmail
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  description: The address to check. `Name <user@example.com>` is accepted and reduced to the address.
                  example: someone@example.com
      responses:
        "200":
          description: >-
            The check ran. `status` holds the verdict, including when the
            address can't receive mail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"
              examples:
                deliverable:
                  summary: Mail server accepts the address
                  value: {cached: false, email: someone@example.com, status: true}
                refused:
                  summary: Mail server refuses the address
                  value: {cached: false, email: nobody@example.com, status: false}
                noDomain:
                  summary: Domain does not exist
                  value: {cached: false, email: a@no-such-domain.example, status: domain_not_found}
                badFormat:
                  summary: Not an email address
                  value: {email: not-an-email, status: invalid_format}
        "400":
          description: Missing `email` field, body is not JSON, or the address can't be parsed.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/EmailError"}
              example: {detail: {error: "Missing 'email' field in request body"}}
        "401":
          description: Missing, wrong, replaced or deactivated API key.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/EmailError"}
              example: {detail: {error: Invalid API key}}
        "429": {$ref: "#/components/responses/LimitReached"}
        "502":
          description: The validation service did not respond. Retry later.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail: {type: string, example: "Upstream error: timed out"}
  /healthz:
    get:
      tags: [Health]
      summary: Email validator health
      description: Answers `OK` as plain text when the service is up. No API key needed.
      operationId: healthz
      security: []
      responses:
        "200":
          description: Service is up.
          content:
            text/plain:
              schema: {type: string, example: OK}

components:
  responses:
    LimitReached:
      description: >-
        The plan's daily allowance (and any credits or welcome checks) is used
        up. Retry after `Retry-After` seconds, at `resets_at` (00:00 UTC).
      headers:
        Retry-After:
          description: Seconds until the allowance resets.
          schema: {type: integer, example: 3600}
      content:
        application/json:
          schema: {$ref: "#/components/schemas/LimitError"}
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Your validate.al API key, from the portal (Settings → API Key).
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT from sign-in or registration.
  schemas:
    LimitError:
      type: object
      properties:
        detail:
          type: object
          properties:
            error: {type: string, example: "Daily scan limit reached. It resets at 2026-10-05T00:00:00Z."}
            limit: {type: string, enum: [scan, email check]}
            resets_at: {type: string, format: date-time, example: "2026-10-05T00:00:00Z"}
    Allowance:
      type: object
      properties:
        daily_allowance: {type: integer}
        used_today: {type: integer}
        left_today: {type: integer}
    Quota:
      type: object
      properties:
        plan: {type: string, enum: [free, enthusiast, startup, enterprise]}
        resets_at: {type: string, format: date-time}
        scans:
          allOf:
            - $ref: "#/components/schemas/Allowance"
            - type: object
              properties:
                credits: {type: integer, description: Scan credits left; used after the daily allowance.}
        email_checks:
          allOf:
            - $ref: "#/components/schemas/Allowance"
            - type: object
              properties:
                welcome_left: {type: integer, description: Welcome checks left; used after the daily allowance.}
        total_scans: {type: integer}
        completed_scans: {type: integer}
    ScanSummary:
      type: object
      properties:
        id: {type: integer, example: 42}
        target: {type: string, example: example.com}
        scan_type:
          type: string
          enum: [webapp, dns-auth, ip]
        status:
          type: string
          enum: [pending, in_progress, completed, failed, cancelled]
        has_report: {type: boolean}
        summary: {type: string, nullable: true, description: Human-readable findings summary}
        created_at: {type: string, format: date-time, nullable: true}
    ValidationResult:
      type: object
      required: [email, status]
      properties:
        email:
          type: string
          description: The address that was checked.
        status:
          description: >-
            `true` if the mail server accepts the address, `false` if it
            refuses it, or a string when no verdict could be reached.
          oneOf:
            - type: boolean
            - type: string
              enum: [invalid_format, domain_not_found, no_mx_records, smtp_connect_error, smtp_timeout, fatal_exception]
        cached:
          type: boolean
          description: True when served from a recent identical check. Absent when the format check failed.
    Error:
      description: Errors from scanning and account endpoints.
      type: object
      properties:
        detail: {type: string, description: Error message}
    EmailError:
      description: Errors from the email validator.
      type: object
      properties:
        detail:
          type: object
          properties:
            error: {type: string}
